.App {
      text-align: center;
}
.shopList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 700px;
  margin-left: 27%;
}

.listButtons{
  margin: 5%;
  display: flex;
  justify-content: center;  


}
.card{
  margin: 10px;
}
#all{
  margin-right: 10%;
}