/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* White background */
    color: #333; /* Dark text for contrast */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #5b99ea; /* Brand color for the logo */
}

.language-selection {
    display: flex;
    align-items: center;
}

.flag-icon {
    width: 32px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for flags */
    transition: box-shadow 0.2s ease-in-out;
}

.flag-icon:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* More prominent shadow on hover */
}

.dark-mode-toggle {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    cursor: pointer;
}

.dark-mode-checkbox {
    display: none; /* Hide the actual checkbox */
}

.toggle-circle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.dark-mode-checkbox:checked + .toggle-circle {
    transform: translateX(30px); /* Move circle to the right when checked */
    background-color: black;
}